[buildout]
parts =
    instance
    zopepy

extends =
    http://dist.plone.org/release/4.3.1/versions.cfg

versions = versions
unzip = true

find-links =
    http://dist.plone.org/release/4.3.1
    http://dist.plone.org/thirdparty

extensions +=
    mr.developer

always-checkout = force
auto-checkout = *

eggs =
    Pillow
    Plone

zcml =

[sources]
#collective.cover = git git@github.com:collective/collective.cover.git

[instance]
recipe = plone.recipe.zope2instance
user = admin:admin
http-address = 8080
verbose-security = off
debug-mode = off
event-log-level = info
environment-vars =
    PYTHON_EGG_CACHE ${buildout:directory}/var/.python-eggs
    zope_i18n_compile_mo_files True
    TEMP ${buildout:directory}/var/tmp
    TMP ${buildout:directory}/var/tmp
eggs =
    ${buildout:eggs}
zcml =
    ${buildout:zcml}

[zopepy]
recipe = zc.recipe.egg
eggs = ${instance:eggs}
interpreter = zopepy
scripts = zopepy
